<!DOCTYPE html>
<html>
<head>
<title>Plant Health Status</title>
<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>
<body class="health-page">

<div class="container">
<h1>🌿 Plant Health Status</h1>
<p class="sub-title">Check the health condition of your plants.</p>

<table>
<tr><th>Plant Name</th><th>Health Status</th></tr>

{% for plant in health %}
<tr>
<td>{{ plant.plant }}</td>
<td>
{% if plant.status == "Healthy" %}
🟢 Healthy
{% elif plant.status == "Needs Attention" %}
🟡 Needs Attention
{% else %}
🔴 Sick
{% endif %}
</td>
</tr>
{% endfor %}
</table>

<div class="button-center">
<a href="/dashboard"><button>⬅ Back to Dashboard</button></a>
</div>
</div>

</body>
</html>